<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">



<dom-module id="chat-ui-navbar">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-toolbar {
                background-color: brown;
            }
        </style>
        <section class="container">
            <paper-toolbar>
                <paper-icon-button icon="menu"></paper-icon-button>
                <span class="title">{{text}}</span>
            </paper-toolbar>
        </section>

    </template>
    <script>
        Polymer( {
            is: 'chat-ui-navbar',
            properties: {
                text: String
            },
            attached: function () {
                console.log(this.text);
            }
        });
    </script>
</dom-module>