<link rel="import" href="/static/bower_components/polymer/polymer.html">


<dom-module id="chat-ui-menu">
    <template>
        <style>
            :host{
                display: block;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'chat-ui-menu',
            properties: {
                selected : {
                    type : String,
                    observer: '_selectedChanged'
                }

            },
            _selectedChanged: function (newVal) {
                console.log(newVal);
            }
        });
    </script>
</dom-module>