<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/static/bower_components/iron-form/iron-form.html">
<link rel="import" href="/static/bower_components/paper-button/paper-button.html">
<link rel="import" href="/static/elements/iron-websocket.html">



<dom-module id="chat-ui-view">
    <template>
        <style>
            :host{
                display: block;
            }
            form {
                width: 60vw;
                position: relative;
                text-align: center;
                margin-left:20vw;
            }
            paper-button {
                background: brown;
                color: #fff;
                float: right;
            }
        </style>
        <ul id="messages">
            <template is="dom-repeat" items="{{messages}}">
                <li>{{item}}</li>
            </template>
        </ul>
         <form id="chatbox" is="iron-form">
             <paper-textarea id="msgarea" label="autoresizing textarea input">[[message]]</paper-textarea>
             <paper-button class="pink" on-tap="_submitForm">Send</paper-button>
        </form>
        <iron-websocket id="web_sock" url="ws://localhost:8088/room"></iron-websocket>
    </template>
    <script>
        Polymer({
            is: 'chat-ui-view',
            properties: {
               message : {
                   type: String,
               },
               messages: {
                   type: Array,
                   value:[]

               }
            },
            observers: [],
            _submitForm: function () {
               var val = this._validate();
               if(val){
                this.$.web_sock.send(this.message);
                this.$.msgarea.value = '';
               }
            },
            listeners: {
                'onmessage' : '_onmessage'
            },
           _validate: function () {
               var isValid = false;
               isValid =  this.$.msgarea.value.length > 0;
               if(!isValid){
                   this.$.msgarea.focus();
                   return !isValid;
               }
               this.message = this.$.msgarea.value;
               return isValid;
           },
            _onmessage: function (e) {
                var msgs = [].push(e.detail);
                this.push('messages',e.detail);
                console.log(this.messages);
                return false;
            }
        });
    </script>
</dom-module>