<dom-module id="iron-websocket">
    <template></template>
    <script>
        Polymer({
            is: "iron-websocket",
            socket: null,
            properties: {
                protocol: {
                    type: String
                },
                url: {
                    type: String
                }
            },
            ready: function () {
                if (!window["WebSocket"]) {
                    alert("Error: Your browser does not support web  sockets.")
                } else {
                    console.log('web socket url -> ' + this.url);
                    this.socket = new WebSocket(this.url,['chat','superchat']);
                    this.socket.onerror = this.onError.bind(this);
                    this.socket.onopen = this.onOpen.bind(this);
                    this.socket.onmessage = this.onMessage.bind(this);
                }
            },
            onError: function (error) {
                this.fire('onerror', error);
            },
            onOpen: function (event) {
                this.fire('onopen');
            },
            onMessage: function (event) {
                console.log('onMessage ' + this.socket.readyState);
                this.fire('onmessage', event.data);
            },
            send: function (message) {
                 console.log('onSend '  + this.socket.readyState);
                this.socket.send(message);
            },
            close: function () {
                this.socket.close();
            }
        })
    </script>
</dom-module>